@use './../../sass/variables' as *;

.accordion {

    display: flex;
    flex-direction: column;
    margin:25px 0px;
    
    .accordion-title {
        display: flex;
        flex-direction: row;
        background-color: $pink_background;
        color: white;
        justify-content: space-between;
        padding: 0px 20px;
        border-radius: 10px;
        cursor: pointer;

        img {
            width: 28px;
            height: 51px;
        }
    }

    .accordion-body {
        padding: 0px 20px;
        background-color: $gray_background;
    }
}