.slider {
    height: 415px;
    padding: 0px 30px;
    position: relative;
    margin-bottom: 25px;
    
    @media screen and (max-width: 776px) {
        padding: 0px;
        height: 255px;
    }

    .slider-content {
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 25px;

            @media screen and (max-width: 776px) {
                border-radius: 10px;
            }
        }

        .animate {
            animation: animate_slider 0.7s linear 0s forwards;
        }
    }

    .slider-pagination {
        position: absolute;
        height: 100%;
        top: 0px;
        width: calc(100% - 80px);
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media screen and (max-width: 776px) {
            width: 100%
        }

        .slider-prev-arrow {
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translate(0px, -50%);
            cursor: pointer;

            @media screen and (max-width: 776px) {
                width: 12px;
                height: 20px;
            }

            &:hover {
                opacity: 0.7;
            }
        }

        .slider-next-arrow {
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translate(0px, -50%);
            cursor: pointer;

            @media screen and (max-width: 776px) {
                width: 12px;
                height: 20px;
            }

            &:hover {
                opacity: 0.7;
            }
        }

        .slider-caption {
            margin: 0px 0px 25px 0px;
            color: white;
            font-size: 18px;
        }
    }
}

@keyframes animate_slider {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}